.header {
  width: 100%;
  background: url('../img/header-background-1.png');
  background-size: cover;
  background-repeat: no-repeat;

  .top-menu {
    height: 70px;
    background: $white-transparent-background;

    a {
      font-family: $main-font-stack;
      font-size: 1.25rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      margin-top: 0.8rem;

      &.on {
        background-color: $light-blue-font-color;
      }
      &.off {
        background-color: $main-pink;
      }
    }
  }

  .title {
    font-size: 7rem;
    color: #FFFFFF;
    margin-top: 4rem;
  }

  .bottom-menu {
    height: 50px;
    background: $white-transparent-background;
    margin-top: 8rem;

    a {
      display: block;
      color: $dark-gray-font-color;
      font-size: 1.25rem;
      margin-top: 1rem;

      &.active {
        color: $light-blue-font-color;
      }
    }
  }
}


.overview-stats {
  background: $light-gray-background;

  .circle {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 125px;
    margin-top: -125px;
    background: $light-gray-background;

    #productivityScoreChart {
      margin-top: 1rem;
    }

    .productivity-score {
      display: block;
      width: 100%;
      text-align: center;
      position: absolute;
      font-size: 5rem;
      color: $dark-gray-font-color;
      top: 7rem;
    }
  }

  .stat {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: $dark-gray-font-color;

    span.icon {
      display: inline-block;
      width: 38px;
      height: 38px;

      &.time {
        background: url('../img/time-icon.svg') bottom center no-repeat;
      }
      &.website {
        background: url('../img/website-icon.svg') bottom center no-repeat;
      }
    }


    span.description {
      position: absolute;
      top: 0.5rem;

      em {
        font-weight: 500;
        font-size: 1.25rem;
        font-style: normal;
      }
    }

    &.websites-visited {
      .description {
        right: 4rem;
        top: 0.7rem;
      }
    }
    &.time-logged {
      .description {
        left: 4rem;
      }
    }
  }

  .most-visited, .most-time {
    color: $dark-gray-font-color;
    margin-bottom: 3rem;

    span {
      display: block;

      &.title {
        font-size: 1rem;
      }
      &.description {
        font-size: 1.25rem;
        line-height: 1rem;
      }
    }
  }
  
}









