.content {
	padding: 0;
  	margin-left: 14rem;
  	background-color: $content-background-color;


  	.header {
  		height: 60px;
  		width: 100%;
  		background-color: #FFFFFF;
  	}

  	h1.title {
  		margin: 0;
  		padding-top: 1rem;
  		padding-left: 2rem;
  		font-size: 1.375rem;
  		text-transform: uppercase;
  	}
}