.sidebar {
	width: 14rem;
	padding-left: 0;
	padding-right: 0;
  float: left;
  position: fixed;
	color: $sidebar-font-color;
  	background: $sidebar-background-color;

  	h1.name {
  		color: $sidebar-font-color;
  	}

  	ul.side-nav {
  		padding: 0;
  		margin-top: 5rem;

  		li {
  			position: relative;
  			margin-top: 0;
  			margin-bottom: 0;
  			width: 100%;
  			border-bottom: 2px solid $sidebar-split-lines-color;
  			padding-left: 1.5rem;

  			&.active .active-flag {
  				display: block;
  				position: absolute;
  				top: 0;
  				left: 0;
  				height: 100%;
  				width: 0.3rem;
  				background-color: $sidebar-active-menu-item-flag-color;
  			}

  			&:first-child {
    				border-top: 2px solid $sidebar-split-lines-color;
    			}

    			&.active, &:hover {
    				background: $sidebar-active-menu-item-background;

    				a {
    					color: $sidebar-font-color !important;
    				}
    			}

  			a {
  				color: $sidebar-font-color;
  				font-size: 1.25rem;
  			}
  		}
  	}

  	.button.no-distraction {
  		display: block;
  		position: absolute;
  		font-family: $main-font-stack;
  		width: 80%;
  		bottom: 0.5rem;
  		left: 10%;
  		background-color: $sidebar-active-menu-item-flag-color;
  		padding: 0.7rem;
  	}
}