// Colors
$dark-gray-font-color: #6F6F6F;
$light-gray-background: #FBFBFB;
$light-blue-font-color: #6CADF9;
$white-transparent-background: rgba(249, 249, 249, .85);
$main-pink: #EE8383;

// Fonts
$main-font-stack: "Avenir Next", "Proxima Nova", "Open Sans", 
				  "Gill Sans MT", "Gill Sans",
				  Corbel, Arial, sans-serif;