// -------------
// Colors
// -------------
// backgrounds
$sidebar-background-color: linear-gradient(to right top, rgba(29, 33, 38, 1), rgba(70, 80, 95, 1));
$content-background-color: #F2F4F7;
$sidebar-split-lines-color: #59677A;
$sidebar-active-menu-item-background: linear-gradient(to right top, #262B30, #2D3D55);
$sidebar-active-menu-item-flag-color: #CA362E;
// fonts
$sidebar-font-color: #F1F1F1;



// Fonts
$main-font-stack: "Avenir Next", "Proxima Nova", "Open Sans", 
				  "Gill Sans MT", "Gill Sans",
				  Corbel, Arial, sans-serif;