/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

div.center {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden; }

html, body {
  font-family: Lucida Grande;
  height: 100%; }

#top_menu {
  height: 50px;
  background: #1F1F1F; }
  #top_menu .wrapper {
    text-align: center;
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;
    margin-left: 34.375%;
    margin-top: 12px; }
    #top_menu .wrapper a {
      color: white;
      display: inline;
      float: left;
      width: 14.58333%;
      margin: 0 1.04167%;
      margin-left: 13.54167%; }
      #top_menu .wrapper a img {
        height: 25px; }
  #top_menu .title {
    position: absolute;
    height: 50px;
    vertical-align: middle;
    font-family: Lucida Grande;
    font-size: 24px;
    color: white;
    left: 20px;
    top: 12px; }

#photo_block_1 {
  height: 500px;
  background: url("../img/photo_block_1.png") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }
  #photo_block_1 .text {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
    text-align: center;
    line-height: 1.25em;
    margin-top: 200px;
    vertical-align: middle;
    font-family: Georgia;
    font-style: italic;
    font-size: 48px;
    color: white; }
  #photo_block_1 span.scroll {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
    text-align: center;
    margin-top: 190px;
    color: white;
    text-transform: uppercase;
    font-family: Lucida Grande;
    font-size: 14px; }

#top_categories {
  min-height: 330px; }
  #top_categories .center .column {
    text-align: center;
    display: inline;
    float: left;
    width: 17.91667%;
    margin: 0 1.04167%;
    margin-top: 55px; }
    #top_categories .center .column h3 {
      font-family: Lucida Grande;
      font-size: 16px;
      margin-bottom: 10px;
      text-transform: uppercase; }
    #top_categories .center .column h3.category {
      margin-bottom: 40px; }
    #top_categories .center .column .oval {
      height: 142px;
      width: 172px;
      display: table-cell;
      vertical-align: middle;
      background: url("../img/oval.png") center no-repeat;
      font-size: 30px;
      color: #9CD377; }

#photo_block_2 {
  height: 500px;
  background: url("../img/photo_block_2.png") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

#about #photo_block_3 {
  height: 500px;
  background: url("../img/photo_block_3.jpg") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 400px; }
#about > .center {
  margin-top: 50px; }
#about .left {
  display: inline;
  float: left;
  width: 47.91667%;
  margin: 0 1.04167%; }
  #about .left form span {
    display: block;
    margin-bottom: 10px; }
  #about .left form select, #about .left form input {
    width: 80%;
    height: 20px;
    margin-bottom: 15px; }
  #about .left form .part2 input {
    width: 79%; }
  #about .left form input[type="submit"] {
    display: block;
    height: 45px;
    background: #35c5e5;
    border: none;
    border-radius: 2px;
    color: white;
    display: inline;
    float: left;
    width: 22.91667%;
    margin: 0 1.04167%;
    font-size: 1em;
    margin-top: 5px; }
#about .right {
  display: inline;
  float: left;
  width: 39.58333%;
  margin: 0 1.04167%;
  margin-left: 9.375%; }
  #about .right h3 {
    font-size: 1.8em; }
  #about .right div {
    margin: 10px 0 0 10px; }
  #about .right .no_goals {
    font-size: 0.8em;
    color: grey; }
  #about .right span {
    display: block;
    margin: 10px 0 0 10px;
    color: grey; }
    #about .right span b {
      color: black; }

#photo_block_4 {
  height: 500px;
  background: url("../img/photo_block_4.png") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  margin-top: -50px; }
  #photo_block_4 .center h1 {
    font-size: 48px;
    color: white;
    text-align: center;
    font-family: Georgia;
    line-height: 1.25em;
    margin-top: 35%; }

#table1 {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04167%;
  margin-left: 9.375%;
  margin-top: 50px;
  margin-bottom: 50px; }

#photo_block_5 {
  height: 500px;
  background: url("../img/photo_block_5.png") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 400px; }
  #photo_block_5 h1 {
    font-size: 48px;
    text-align: center;
    color: white;
    font-family: Georgia;
    line-height: 1.25em;
    margin-top: 160px; }

#photo_block_6 {
  height: 500px;
  background: url("../img/photo_block_6.png") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 300px; }

#social_networks h2 {
  text-align: center;
  font-size: 38px;
  font-family: Georgia;
  margin: 25px 0; }
#social_networks table {
  width: 100%;
  line-height: 2.5em; }
#social_networks .middle {
  width: 80%;
  border-bottom: 1px solid lightgrey; }
  #social_networks .middle.last {
    border: none; }
#social_networks .left {
  width: 10%;
  text-align: left; }
#social_networks .right {
  width: 10%;
  text-align: right; }
