/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

div.center {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden; }

#top_menu {
  height: 50px;
  background: #1F1F1F; }
  #top_menu .wrapper {
    text-align: center;
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04167%;
    margin-left: 34.375%;
    margin-top: 12px; }
    #top_menu .wrapper a {
      color: white;
      display: inline;
      float: left;
      width: 14.58333%;
      margin: 0 1.04167%;
      margin-left: 13.54167%; }
      #top_menu .wrapper a img {
        height: 25px; }
  #top_menu .title {
    position: absolute;
    height: 50px;
    vertical-align: middle;
    font-family: Lucida Grande;
    font-size: 24px;
    color: white;
    left: 20px;
    top: 12px; }

#photo_block_1 {
  height: 400px;
  background: url("../img/photo_block_1.png") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }
  #photo_block_1 .text {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
    text-align: center;
    line-height: 1.25em;
    margin-top: 150px;
    vertical-align: middle;
    font-family: Georgia;
    font-style: italic;
    font-size: 48px;
    color: white; }
  #photo_block_1 span.scroll {
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-family: Lucida Grande;
    font-size: 14px; }

#top_categories {
  min-height: 250px; }
  #top_categories .center .column {
    text-align: center;
    display: inline;
    float: left;
    width: 17.91667%;
    margin: 0 1.04167%; }

#photo_block_2 {
  height: 400px;
  background: url("../img/photo_block_1.png") no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }
